

:root {
   --fuenteheading: 'PT Sans', sans-serif;
   --fuenteParrafos: 'Open Sans', sans-serif;

   --primario: #784d3c;
   --gris: #e1e1e1;
   --blanco: #ffffff;
   --negro: #000000;
   --celeste: rgb(93, 163, 230);
   --verdeClaro: rgb(122, 236, 122);

}
html {
   box-sizing: border-box;
   font-size: 62.5%; /* 1 rem = 10px */
}
*, *:before, *:after {
   box-sizing: inherit;
}
body {
   font-family: var(--fuenteParrafos);
   font-size: 1.6rem;
   line-height: 2;
}


/** GLOBALES **/
.contenedor {
   max-width: 120rem;
   width: 90%;
   margin: 0 auto;
}

a {
   text-decoration: none;
}
h1, h2, h3, h4 {
   font-family: var(--fuenteheading);
}
h1 {
   font-size: 7rem;
}
h2 {
   font-size: 4rem;
}
h3 {
   font-size: 3.2rem;
}
h4 {
   font-size: 2.8rem;
}
img {
   max-width: 100%;
}


/** UTILIDADES  **/
.no-margin {
   margin: 0;
}
.no-padding {
   padding: 0;
}
.centrar-texto {
   text-align: center;
}


/** HEADER **/
.webp .header {
  background-image: url(../img/bombo\ guitarra.jpg);   
}
.nowebp .header {
  background-image: url(../img/bombo\ guitarra.jpg);
}
.header {
   background-image: url(../img/bombo\ guitarra.jpg);
   height: 60rem;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;

}
@media (min-width: 768px) {
  .header__texto {
     margin-top: 15rem;
  }
}
.barra {

  padding-top: 4rem;
}
@media (min-width: 768px) {
  .barra {
     display: flex;
     justify-content: space-between;
     align-items: center;

  }
}
.logo {
  color: var(--blanco);
}
.logo__nombre {
  font-weight: 400;
}
.logo__bold {
  font-weight: 700;
}
@media (min-width: 768px) {
  .navegacion {
     display: flex;
     gap: 2rem;
  }
}
.navegacion__enlace {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  color: var(--blanco);
}

.header__texto {
   text-align: center;
   color: var(--blanco);
   margin-top: 5rem;
   
}

@media (min-width: 768px) {
  .contenido-principal {
     display: grid;
     grid-template-columns: 2fr 1fr;
     column-gap: 4rem;
  }
}

.entrada {
  border-bottom: 1px solid var(--gris);
  margin-bottom: 2rem;
}
.entrada:last-of-type {
  border: none;
  margin-bottom: 0;
}
.boton {
  display: block;
  font-family: var(--fuenteheading);
  color: var(--blanco);
  text-align: center;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  border: none;

}
@media (min-width: 768px) {
  .boton {
     display: inline-block;

  }

}
.boton:hover {
  cursor: pointer;
}

.boton--primario {
  background-color:#0074c7;

}
.boton--secundario {
  background-color: #0074c7;
}
.cursos {
  list-style: none;
  background-color: var(--celeste);
  padding: 1rem;
  
}

.widget-curso {
  border-bottom: 2px solid var(--blanco);
  margin-bottom: 2rem;
}
.widget-curso:last-of-type {
  border: none;
  margin-bottom: 0;

}
.widget-curso__label {
  font-family: var(--fuenteheading);
  font-weight: bold;
}
.widget-curso__info {
  font-weight: normal;
}
.widget-curso__label,
.widget-curso__info {
  font-size: 2rem;

}
.footer {
  background-color: rgb(93, 163, 230);
  padding-bottom: rem;
  margin-top: 14rem;


}


/** FORMULARIO **/   

@media (min-width:768px){
  .formulario {
 
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
    
  
  }
  .campo {
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
   
  
  }
  .campo__label {
    flex: 0 0 9rem;
    text-align: right;
  
  }
  .campo__field {
    flex: 1;
    padding-right: 2rem;
    border: 1px solid var(--gris);
  
  }
  .campo__field--textarea {
    height: 20rem;
   
  
  } 
 
}

/**inicio**/
* {
	padding: 20px 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #1D202B;
	color: #fff;
	font-family: 'Roboto', sans-serif;
   min-height: 100vh;

}

.contenedores {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;
 

   display: grid;
   grid-template-columns: 3fr 1fr;
   gap: 20px  ;



   /*flexbox
   display: flex;
   gap: 2rem;  */


	
}

.titulo {
	font-size: 24px;
	padding: 20px 0;
}

.contenedor-conciertos {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
   width: 90%;
  
   


  
  /* flexbox
   width: 70%;
   display: flex;
   flex-wrap: wrap;
   gap: 50px;    */


	
}

.card {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;


   /* felxbox
   width: calc(33.33% - 40px)    */

	
}

.card .textos {
	height: 100%;
   color: rgb(19, 17, 14);



   /* grid*/
   /*display: grid;
   grid-template-rows: 1fr auto; */


  /*felxbox*/
   display: flex;
   flex-direction: column;
   justify-content: space-between; 
} 

.card .boton{
    background: #0074c7;
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 100px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
     
}
	
	
@media (min-width:768px){

.banner {
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	background-size: cover;
	background-position: center center;
   color: black;
   
  

   /*grid*/

   /* display: grid;
   grid-template-rows: auto auto auto;
   align-items: center; */

 


  /* flexbox*/
  /* width: 30%; */
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   
   
 

}

  

.banner ul {
	list-style: none;
}

.banner ul li {
	margin: 15px;
	font-weight: bold;
   color: #0074c7;
}

.banner .boton{
	background: #0074c7;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 100px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
   
}


}

@media screen and (max-width: 900px) {

	
}

@media screen and (max-width: 700px) {
   
	
}

@media screen and (max-width: 600px) {

}

/*barra buscador*/

.search input {
  width: 300px;
  padding: 10px;
  background-color: transparent;
  

}
/* navegacion principal */
.nav-bg {
  background-color: transparent;
  
}
.navegacion-principal {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  
}
@media (min-width: 768px) {
  .navegacion-principal {
      flex-direction: row;
      justify-content: space-between;
  }
}
.navegacion-principal a {
  display: block;
  text-align: center;
  color:#0074c7 ;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
}
.navegacion-principal a:hover {
  transform: scale(1.2);
  background: #0074c7;
  color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20%;
}
